<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
        <title>Bienvenidos a nuestra Página de la Feria Franca de Campo Grande, Misiones</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Inter+Tight:wght@100&family=Oswald:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Damion&family=Dancing+Script&family=Hind+Siliguri&family=Inter+Tight:wght@100&family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="rojo">
<h1>Bienvenidos a la feria de Campo Grande</h1>
<img src="images/camioneta.jpg">
</div>
</body>
<footer> 
    <div class="piedepag rojo">
    <strong>
        <ol><li>
            ubicación
        </li>
    <li>campo grande</li></ol>
    </strong>
</div>

</footer>
</html>